<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Registerer | Admin</title>
  </head>

  <body class="flex justify-center items-center min-h-screen">
    {{#if is_admin}}
      <div>
        <table
          class="table-auto border-cyan-400 border-collapse border bg-slate-200"
        >
          <thead>
            <tr>
              <th class="border border-slate-600 px-4 py-2">First Name</th>
              <th class="border border-slate-600 px-4 py-2">Last Name</th>
              <th class="border border-slate-600 px-4 py-2">Email</th>
              <th class="border border-slate-600 px-4 py-2">skills</th>
              <th class="border border-slate-600 px-4 py-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each accounts}}
              <tr>
                <td class="border border-slate-600 px-4 py-2">{{firstName}}</td>
                <td class="border border-slate-600 px-4 py-2">{{lastName}}</td>
                <td class="border border-slate-600 px-4 py-2">{{email}}</td>
                <td class="border border-slate-600 px-4 py-2"><a class="" href="/account/skills/{{accountID}}">show skills</a></td>
                <td class="border border-slate-600 px-4 py-2">
                  <a href="account/update/{{accountID}}"><i
                      data-edit-btn
                      role="button"
                      class="bx bx-edit"
                    ></i></a>
                  <button onclick="(() => handleDelete({{accountID}}))()"><i
                      data-delete-btn
                      role="button"
                      class="bx bx-trash"
                    ></i></button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <a href="http://localhost:8000/logout" class="">Logout</a>
      </div>
    {{/if}}

    {{#if is_user}}
      <div class="">
        <div class="">
          <h1 class="text-slate-500 text-center">You're not authorize to view
            this page.</h1>
          <a href="http://localhost:8000/logout" class="">Logout</a>
        </div>
      </div>
    {{/if}}

    <script></script>
  </body>

</html>