<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Register Account | Register</title>
  </head>

  <body
    class="min-h-screen flex justify-center items-center bg-slate-900 text-white"
  >

    {{#if message}}
      <div class="" role="alert">
        {{message}}
      </div>
    {{/if}}

    <h1 class="text-5xl font-medium mb-4">Register</h1>

    <div class="border border-slate-700 bg-slate-800 rounded-lg p-4">
      <form class="w-[30rem]" action="/register" method="POST">
        <fieldset>
          <div class="mb-4">
            <label for="firstName" class="block mb-2">First name</label>
            <input
              type="firstName"
              class="border mb-2 px-2 py-1 w-full text-black rounded-lg focus:outline-none focus:ring-4 focus:ring-pink-500"
              id="firstName"
              name="firstName"
              aria-describedby="firstName"
              placeholder="Enter first name"
              value="{{firstName}}"
              readonly
            />
          </div>

          <div class="mb-4">
            <label for="lastName" class="block mb-2">Last name</label>
            <input
              type="lastName"
              class="border mb-2 px-2 py-1 w-full text-black rounded-lg focus:outline-none focus:ring-4 focus:ring-pink-500"
              id="lastName"
              name="lastName"
              aria-describedby="lastName"
              placeholder="Enter last name"
              value="{{lastName}}"
              readonly
            />
          </div>

          <div class="mb-4">
            <label for="email" class="block mb-2">Email address</label>
            <input
              type="email"
              class="border mb-2 px-2 py-1 w-full text-black rounded-lg focus:outline-none focus:ring-4 focus:ring-pink-500"
              id="email"
              name="email"
              aria-describedby="email"
              placeholder="Enter email"
              value="{{email}}"
              readonly
            />
          </div>

          <div class="mb-4">
            <h2>Skills</h2>
            <ul>
              {{#each skills}}
                <li>
                  {{title}}:
                  {{level}}
                </li>
              {{/each}}
            </ul>
          </div>

        </fieldset>
        <p class="text-center text-slate-300">Already have an account?
          <a
            class="text-pink-500 hover:text-pink-400 focus:outline-pink-500 focus:outline-2"
            href="http://localhost:8000/login"
          >Login</a></p>
      </form>
    </div>

  </body>

</html>